{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<main>
    <div class="container mt-6">
        <div class="row">
            <div class="col-md-6 w-md-75 mx-auto">
              
                <div class="account-wall">
                   {% include 'security/login-form.html.twig' %}
                </div>
                <a href="{{ path('app_register') }}" class="text-center new-account text-decoration-none fw-bold">Créer un compte</a>
            </div>
        </div>
    </div>
</main>

{% endblock %}
